---
import Hero from '../components/Hero.astro';
---

<section class="relative z-10 px-4 pb-6 overflow-hidden min-h-[860px] md:min-h-[820px]" style="height:calc(100vh - 60px); background: transparent;">
    <Hero/>
</section>