<section id="hero" class="min-h-screen flex items-center p-0 fade-in w-[45%]">
  <div class="max-w-3xl">

    <h1 class="text-6xl md:text-7xl font-bold font-tech mb-6 leading-tight">
      Robot Sumo
      <span class="block text-primary">EQMEE</span>
    </h1>

    <p class="text-md text-gray-200 mb-8 leading-relaxed w-[100%]">
      Dise침ado desde cero integrando modelado 3D, piezas impresas en 3D, electr칩nica digital con Arduino y programaci칩n en C/C++ enfocada en control y respuesta r치pida para competencia minisumo.
    </p>

    <div class="flex gap-4">
      <a
        href="#repo"
        class="border border-primary text-primary px-8 py-4 rounded-lg font-semibold hover:bg-primary hover:text-dark transition-all duration-300"
      >
        Repositorio
      </a>
    </div>

    <div class="mt-16 grid grid-cols-3 gap-4 w-full">
      <div class="border-l-2 border-primary pl-4">
        <div class="text-3xl font-bold font-tech text-primary">Peso</div>
        <div class="text-lg text-gray-400 mt-1">495gr</div>
      </div>
      <div class="border-l-2 border-primary pl-4">
        <div class="text-3xl font-bold font-tech text-primary">Sensores</div>
        <div class="text-lg text-gray-400 mt-1">6</div>
      </div>
      <div class="border-l-2 border-primary pl-4">
        <div class="text-3xl font-bold font-tech text-primary">Dimensiones</div>
        <div class="text-lg text-gray-400 mt-1">10 x 10 cm</div>
      </div>
    </div>
  </div>
</section>
