---
import BaseHead from './BaseHead.astro';
import Navigation from '../containers/Navigation.astro';
import Footer from '../containers/Footer.astro';
const { title, description, canonical } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head><BaseHead title={title} description={description} canonical={canonical} /></head>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.12.5/build/spline-viewer.js"></script>
    <body class="bg-white flex flex-col min-h-svh">
        <div class="no-scrollbar portfolio-container relative size-full snap-y snap-mandatory overflow-hidden">
            <main class="before:border-border after:border-border relative z-10 min-h-screen snap-start before:absolute before:top-0 before:left-0 before:h-full before:w-12 before:border-r before:bg-[linear-gradient(-135deg,_#1a1a1a_25%,_transparent_25%,_transparent_50%,_#1a1a1a_50%,_#1a1a1a_75%,_transparent_75%,_transparent)] before:bg-[length:5px_5px] after:absolute after:top-0 after:right-0 after:h-full after:w-12 after:border-l after:bg-[linear-gradient(135deg,_#1a1a1a_25%,_transparent_25%,_transparent_50%,_#1a1a1a_50%,_#1a1a1a_75%,_transparent_75%,_transparent)] after:bg-[length:5px_5px] max-md:before:hidden max-md:after:hidden md:px-12 bg-[#0d1117] text-white">
                <Navigation/>
                <div class="min-h-[calc(100vh-4rem)] md:px-8">
                    <slot />
                    <Footer/>
                </div>
            </main>
        </div>
    </body>
</html>