---
import Layout from '../components/layouts/Layout.astro';
import Landing from '../modules/index/index.astro'
---

<Layout title="Robot de Sumo Zumo | Proyecto de Robótica y Competencia" description="Conoce el robot de sumo Zumo: diseño, sensores, estrategia de combate y programación. Proyecto completo de robótica orientado a competiciones de minisumo.">
  <h1 class="visually-hidden">Robot de Sumo Zumo: Diseño, Tecnología y Funcionamiento</h1>
  <Landing/>
</Layout>
