---
import Home from "./containers/Home.astro"
import RigthSection from "./containers/RigthSection.astro"
import Mechanics from "./containers/Mechanics.astro"
import Electronics from "./containers/Electronics.astro"
import Software from "./containers/Software.astro"
---

<div class="min-h-[calc(100vh-4rem)] md:border-r md:border-l border-gray-800">
    <RigthSection/>
    <Home/>
    <Mechanics/>
    <Electronics/>
    <Software/>
</div>
